<h2>New Post</h2>

<p>

	<form action="/new" method="POST">
		<textarea name="post[content]" placeholder="Type post text here"  class="form-control" rows="6"></textarea>
		<br />
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

 </p>